<div id="hero" class="jumbotron">
      <div class="container">
		<div class="row">
	        <div class="col-sm-12">
	          <!-- Widget :: Newsletter -->
	          <div class="widget_newsletter widget widget__footer">
	            <h3 class="widget-title">Wondering something new for your closet</h3>
	            <div class="widget-content">
	              <p >Earn nice price for every day that you check out in <strong>Roulette Shop</strong></p>

	              <form action="#" method="POST" role="form">
	                <div class="row">
	                  <div class="col-md-8">
	                    <div class="form-group">
	                      <input type="email" class="form-control" placeholder="Do you feel lucky?, try with you email...">
	                    </div>
	                  </div>
	                  <div class="col-md-4">
	                     <button type="submit" class="btn btn-success btn-block">Suscríbete</button>
	                  </div>
	                </div>
	              </form>
	            </div>
	          </div>
	          <!-- /Widget :: Newsletter -->
	        </div>
        </div>
       </div> 
</div>            
